body {
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  font: 15px/1.5 Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
  color: #115584;
}
a:hover{
  color: red;
}
/* Global style */

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.button{
  border: none;
  color: #ffffff;
  background-color: #333;
  width: 250px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  text-transform: uppercase;
}
.button:hover{
  color:#ffffff;
  cursor: pointer;
  font-weight: bold;
  background-color: #115584;
}

/*
.container {
  display: flex;
  justify-content: center;
}
*/

/* Dark background */
.dark{
  padding:15px;
  background-color: #115584;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

/* header */
header{
	background-color: #333;
  color:#ffffff;
  border-bottom: #115584 solid 8px;
}
header #branding{
  text-transform: uppercase;
  float: left;
}
header a{
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
}
header ul{
  margin: 0;
  padding: 0;
}
header li{
  float:right;
  display: inline;
  padding: 0 20px 0 20px;
  margin-top: 25px;
}
header .current a{
  color: #115584;
  font-weight:bold;
}
header a:hover{
  color: #115584;
  font-weight:bold;
}


  /* #main{
  width: 90vw;
  margin: 0 auto;
  padding: 30px 20px;
  min-height: calc(92.7vh - 85.19px - 89.88px);
} */

 /* Login form */


 .loginbox{
   height: 80.5vh;
   width:100%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
 }
 .login-header{
   text-align: center;
 }

 .btn{
   text-align:center;
   margin-bottom: 10px;
 }

 .my-form .forgot{
   text-align: center;
 }


.my-form input[type="text"], .my-form input[type="password"]{

  width: 250px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  border: #333 solid 1px;
  margin-bottom: 8px;
  font-size:16px;
}

.my-form img{
  padding-top: 10px;
  padding-right: 10px;
  width:30px;
}



/* about us page */
/*side bar*/
aside#sidebar{
  float:right;
  width:30%;
  margin-top: 10px;
}
/*main-col*/
article#main-col{
  float:left;
  width:65%;
  margin-top: 10px;
}

/* New Registration form css */

.regbox{
  /* height: 80.5vh; */
  min-height: calc(99.2vh - 85.19px - 89.88px);
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;

}

.regbox h1{
  text-align: center;
}

.regbox .regform-button{
  text-align: center;
}
.regbox .regform-button label{
  padding-top: 15px;

}

.regbox input[type="text"], .regbox input[type="password"], .regbox input[type="email"], .regbox select {
  width: 400px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  border: #333 solid 1px;
  margin-bottom: 8px;
  font-size:16px;
}

.regbox select{
  width: 420px;
}

.regbox label{
  font-size:14px;
  text-transform:uppercase;
  display:block;
}

select:invalid {
  color: gray;
}

.posOption .optBtn button{
  margin-top: 15px;
  width: 35px;
  display: none;
}

.posOption #accountinputtitle{
  display: block;
  display:none;
}

.posOption input[type="text"]{
  display:block;
}

.regform div{
  padding-bottom: 15px;
  width: 100%;
}




/* footer */
footer{
  padding-bottom: 20px;
  text-align: center;
  border-top: #115584 solid 8px;
  background-color: #333;
  color:#ffffff;
}


@media(max-width: 1205px){
  header #branding{
    text-transform: uppercase;
    float: none;
    text-align: center;
  }

  header li{
    float:none;
    display: inline;
    padding: 0 20px 0 20px;
    margin-top: 25px;
    margin-left: 100px;
  }

}
