
.center {
  font-size: 32px;
  font-weight: bold;
}



a {
  text-decoration: none;
  color: cornflowerblue;
}
a:hover {
  color: red;
}
body {
  background-color: #f4f4f4;
  columns: #55555f;
  font-family: verdana;
  font-size: 18px;

}
.button {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 100px;
}
.button1 {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 70%;
}
.button:hover {
  background-color: blue;
  color: #fff;
}


.my-form .form-group {
  padding-bottom: 10px;
}
.my-form {
  align-self: center;
  width:300px;
  font-size: 16px;
  background-color: #fff;
  border: 1px black solid;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;

  border-radius: 0.5em;
  text-align: center;
  
  margin-left: auto;;
  margin-right: auto;
  margin-top: 250px;
  font-size: 18px;
}


.my-form h1{
  padding-bottom: 15px;

}

.my-form input[type="text"],
.my-form input[type="password"] {
  padding: 7px;
  width: 70%;
  font-size: 16px;
  text-align: center;
  

}
.footer{

position: fixed;
left: 0;
bottom: 0;
width: 100%;
text-align: center;

}


